<div class="login-page">
  <div class="login-card">
    <h2><span>Welcome</span> Back</h2>
    <p>Please log in to continue</p>
    
    <form (ngSubmit)="onLogin()">
      <div class="input-group">
        <input [(ngModel)]="email" name="email" type="email" placeholder="Email" required />
      </div>
      <div class="input-group">
        <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required />
      </div>

      <div class="forgot-password">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>

      <button type="submit" class="btn-login">Login</button>
    </form>

    <p *ngIf="error" class="error-text">{{ error }}</p>

    <p class="signup-text">
      Don’t have an account?
      <button class="btn-signup" routerLink="/signup-demo">Sign Up</button>
    </p>
  </div>
</div>
