<h2> childs value</h2>

{{inputFromChild}}
<br>
<hr>

<input #parentInput type = "text" placeholder="enter value for child">
<button type="submit" (click)="sendToChild(parentInput.value)">Submit</button>
<br>
<br>
<br>
<br>
<br>
<br>
<app-user-table (notify) = "handleData($event)" [messageFromParent]="parentMessage" ></app-user-table>
<br>
<br>
<br>
<br>
<br>
<br><hr>
<br>
<br>
<br>
<br>
<br>
<br><h1> component to component</h1>
<input #c2cInput type="text" placeholder="Enter value for component">
<button type='submit' (click)="sendDataToComponent(c2cInput.value)">send</button>