
  <!-- Sidebar -->
  <div class="sidebar d-flex flex-column p-3">
    <h2 class="mb-4">Sidebar</h2>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link text-white">Dashboard</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link text-white" routerLink="/cat">Cat facts</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link text-white" routerLink="/weather">Weather</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link text-white" routerLink="/pokemon">Pokemon </a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link text-white">Dashboard</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link text-white" routerLink="/cat">cat</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link text-white" routerLink="/weather">weather</a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link text-white">Reports</a>
      </li>
    </ul>
  </div>