<div class="login-page">
  <div class="login-card">
    <h2><span>Forgot</span> Password</h2>
    <p>Enter your registered email to reset your password</p>

    <form (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input
          [(ngModel)]="email"
          name="email"
          type="email"
          placeholder="Enter your email"
          required
        />
      </div>

      <button type="submit" class="btn-login">Send Reset Link</button>
    </form>

    <p *ngIf="message" class="success-text">{{ message }}</p>
    <p *ngIf="error" class="error-text">{{ error }}</p>

    <p class="signup-text">
      Remembered your password?
      <button class="btn-signup" routerLink="/login-demo">Login</button>
    </p>
  </div>
</div>
